.article-home-page-element {
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem 2rem;
    text-align: center;
}

.article-home-page-element:hover {
    cursor: pointer;
}

.img-home-page-element {
    max-width: 240px;
}

.h1-home-page-element {
    color: brown;
    margin-top: 0.5rem;
}

.h4-home-page-element {
    color: #617d98;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}
