.section-page-not-found {
    display: block;
    margin: 2rem 1rem;
    text-align: center;
}

.article-page-not-found {
    background-color: white;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    width: min-content;
}

.food-not-found {
    max-width: 380px;
}

.link-page-not-found {
    background-color: tomato;
    border-radius: 0.4rem;
    border-style: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 3rem;
    height: 3rem;
    margin: 2rem 1rem;
    text-decoration: none;
    transition: 0.4s;
    width: 14rem;
}

.link-page-not-found:hover {
    background-color: chocolate;
    text-decoration: underline;
}

@media only screen and (max-width: 480px) {
    .food-not-found {
        max-width: 220px;
    }
}
