header {
    background-color: yellow;
    padding: 0.4rem;
}

nav {
    align-items: center;
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
            "logo search-bar shopping-cart night-mode";
    grid-template-columns: 2fr 8fr 1fr 1fr;
    justify-items: center;
}

.logo {
    grid-area: logo;
}

.pizza-logo {
    max-width: 160px;
}

input {
    grid-area: search-bar;
}

.shopping-cart {
    grid-area: shopping-cart;
}

.pizza-box {
    max-width: 70px;
}

.night-mode {
    display: grid;
    grid-area: night-mode;
    grid-template-columns: 1fr;
    justify-items: center;
}

.crescent {
    max-width: 40px;
}

@media only screen and (max-width: 480px) {
    nav {
        grid-template-areas:
                "night-mode logo shopping-cart"
                "search-bar search-bar search-bar";
        grid-template-columns: 1fr 2fr 1fr;
        overflow: hidden;
        row-gap: 1rem;
    }

    .pizza-logo {
        max-width: 110px;
    }

    input {
        width: 90% !important;
    }
}

