.header-navigation {
    -webkit-border-bottom-left-radius: 0.6rem;
    -webkit-border-bottom-right-radius: 0.6rem;
    background-color: yellow;
    padding: 0.4rem;
}

.nav-navigation {
    align-items: center;
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
            "logo search-bar shopping-cart night-mode";
    grid-template-columns: 2fr 8fr 1fr 1fr;
    justify-items: center;
}

.logo-navigation {
    grid-area: logo;
}

.pizza-logo {
    max-width: 160px;
}

.input-search-bar {
    grid-area: search-bar;
}

.shopping-cart-navigation {
    grid-area: shopping-cart;
}

.pizza-box {
    max-width: 80px;
}

.pizza-box:hover {
    cursor: pointer;
}

.pixar-off {
    max-width: 60px;
}

@media only screen and (max-width: 480px) {
    .nav-navigation {
        grid-template-areas:
                "night-mode logo shopping-cart"
                "search-bar search-bar search-bar";
        grid-template-columns: 1fr 2fr 1fr;
        overflow: hidden;
        row-gap: 1rem;
    }

    .pizza-logo {
        max-width: 110px;
    }

    .input-search-bar {
        width: 90% !important;
    }
}

