.flip-card-back {
    height: 366px;
    position: relative;
    transform: rotateY(180deg);
}

.h1-flip-card-back {
    color: var(--h1-flip-card-back-color);
    margin-top: 2rem;
}
.ul-flip-card-back {
    border: 1px solid tomato;
    border-radius: 0.4rem;
    color: var(--ul-flip-card-back-color);
    font-size: 18px;
    list-style-type: none;
    letter-spacing: 0.1rem;
    margin: 1rem 0;
    padding: 1rem 0;
}

.li-flip-card-back {
    margin: 1rem 0;
}

.pick {
    background-color: var(--pick-flip-card-back-background-color);
    border-radius: 0.5rem;
    border-style: none;
    bottom: 0;
    color: var(--pick-flip-card-back-color);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0;
    position: absolute;
    text-decoration: none;
    transform: translateX(-50%);
    transition: 0.4s;
    width: 100%;
}

.pick:hover {
    color: var(--pick-flip-card-back-color-hover);
    text-decoration: underline;
}
