@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.input-search-bar {
    border: none;
    border-radius: 0.5rem;
    color: red;
    font-family: 'IBMPlexMono', monospace, -apple-system;
    font-size: 16px;
    padding: 0.8rem;
    text-align: center;
    width: 100%;
}

.input-search-bar:focus {
    outline-color: wheat;
}

.input-search-bar:focus::placeholder {
    color: transparent;
}

::-webkit-input-placeholder {
    text-align: center;
}
