.img-flip-card-front {
    max-width: 240px;
}

.h1-flip-card-front {
    color: var(--h1-flip-card-front-color);
    margin-top: 0.5rem;
}

.h4-flip-card-front {
    color: var(--h4-flip-card-front-color);
    font-size: 0.75rem;
    margin-top: 0.25rem;
}
