.footer-footer {
    -webkit-border-top-left-radius: 0.6rem;
    -webkit-border-top-right-radius: 0.6rem;
    align-items: center;
    background-color: yellow;
    bottom: 0;
    display: flex;
    height: 2rem;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.address-footer {
    color: tomato;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    word-spacing: 0.2rem;
}
