body {
    background: #f1f5f8;
}

#root {
    min-height: 100vh;
    position: relative;
}

main {
    padding-bottom: 2rem;
}

@media only screen and (min-width: 1920px) {
    #root {
        margin: 0 auto;
        max-width: 1920px;
    }
}
