body {
    color-scheme: light;
    --body-background-color: #f1f5f8;
    --navigation-background-color: yellow;
    --search-bar-outline-color: wheat;
    --popup-background-color: white;
    --popup-border: deepskyblue;
    --popup-color: brown;
    --popup-ok-background-color: deepskyblue;
    --popup-ok-border: white;
    --popup-ok-color: white;
    --popup-ok-hover-background-color: white;
    --popup-ok-hover-border: deepskyblue;
    --popup-ok-hover-color: deepskyblue;
    --loading-element-background-color: white;
    --h1-loading-element-color: brown;
    --flip-card-background-color: white;
    --h1-flip-card-front-color: brown;
    --h4-flip-card-front-color: #617d98;
    --h1-flip-card-back-color: brown;
    --ul-flip-card-back-color: #617d98;
    --pick-flip-card-back-background-color: yellow;
    --pick-flip-card-back-color: #617d98;
    --pick-flip-card-back-color-hover: tomato;
    --description-background-color: white;
    --h1-product-page: brown;
    --topping-color: #617d98;
    --product-personalization-background-color: white;
    --h2-product-page-color: darkgreen;
    --add-additional-ingredient-background-color: yellow;
    --add-additional-ingredient-color: #617d98;
    --add-additional-ingredient-hover-background-color: lightcyan;
    --add-additional-ingredient-hover-color: navy;
    --remove-additional-ingredient-background-color: coral;
    --remove-additional-ingredient-color: lightyellow;
    --remove-additional-ingredient-hover-background-color: coral;
    --remove-additional-ingredient-hover-color: white;
    --additional-ingredient-amount-color: purple;
    --additional-ingredient-info-color: #617d98;
    --pricing-background-color: white;
    --h3-product-page: purple;
    --money-color: black;
    --add-to-bag-background-color: orange;
    --add-to-bag-hover-background-color: darkorange;
    --page-not-found-background-color: white;
    --back-to-home-page-background-color: tomato;
    --back-to-home-page-hover-background-color: hotpink;
    --footer-background-color: yellow;
    --author-color: tomato;

    background-color: var(--body-background-color);
    transition: 0.4s;
}

body.dark {
    color-scheme: dark;
    --body-background-color: #303338;
    --navigation-background-color: #1c1e21;
    --search-bar-outline-color: transparent;
    --popup-background-color: #1c1e24;
    --popup-border: darkorange;
    --popup-color: crimson;
    --popup-ok-background-color: darkorange;
    --popup-ok-border: darkorange;
    --popup-ok-color: black;
    --popup-ok-hover-background-color: black;
    --popup-ok-hover-border: darkorange;
    --popup-ok-hover-color: darkorange;
    --loading-element-background-color: #1c1e24;
    --h1-loading-element-color: crimson;
    --flip-card-background-color: #1c1e24;
    --h1-flip-card-front-color: crimson;
    --h4-flip-card-front-color: orange;
    --h1-flip-card-back-color: crimson;
    --ul-flip-card-back-color: darkorange;
    --pick-flip-card-back-background-color: black;
    --pick-flip-card-back-color: tomato;
    --pick-flip-card-back-color-hover: crimson;
    --description-background-color: #1c1e24;
    --h1-product-page: crimson;
    --topping-color: darkorange;
    --product-personalization-background-color: #1c1e24;
    --h2-product-page-color: limegreen;
    --add-additional-ingredient-background-color: lightgreen;
    --add-additional-ingredient-color: black;
    --add-additional-ingredient-hover-background-color: lime;
    --add-additional-ingredient-hover-color: purple;
    --remove-additional-ingredient-background-color: indianred;
    --remove-additional-ingredient-color: white;
    --remove-additional-ingredient-hover-background-color: fuchsia;
    --remove-additional-ingredient-hover-color: black;
    --additional-ingredient-amount-color: magenta;
    --additional-ingredient-info-color: darkorange;
    --pricing-background-color: #1c1e24;
    --h3-product-page: magenta;
    --money-color: white;
    --add-to-bag-background-color: darkorange;
    --add-to-bag-hover-background-color: orange;
    --page-not-found-background-color: white;
    --back-to-home-page-background-color: black;
    --back-to-home-page-hover-background-color: darkorange;
    --footer-background-color: #1c1e21;
    --author-color: pink;
}

#root {
    min-height: 100vh;
    position: absolute;
    width: 100%;
}

main {
    padding-bottom: 2rem;
}

.ok {
    background-color: var(--popup-ok-background-color);
    border: 1px solid var(--popup-ok-border);
    border-radius: 0.4rem;
    color: var(--popup-ok-color);
    cursor: pointer;
    padding: 0.5rem 1.8rem;
    transition: 0.4s;
}

.ok:hover {
    background-color: var(--popup-ok-hover-background-color);
    border: 1px solid var(--popup-ok-hover-border);
    color: var(--popup-ok-hover-color);
    text-decoration: underline;
}

@media only screen and (min-width: 1920px) {
    #root {
        left: 50%;
        max-width: 1920px;
        transform: translate(-50%, 0);
    }
}
